.main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: xx-large;
    font-style: italic;
}
.main1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: xx-large;
    font-style: italic;
}
.border{
    margin: 20px;
    height: 450px;
}
.form{
    margin-top: -350px;
    margin-right: 50px;
    font-size: x-large;
}
.img-fluid{
    margin: 50px;
};